<div class="navbar">
    <div class="navbar-links">
        <a href="/">
            <div>Email_Order_System</div>
        </a>
    </div>
    <div class="navbar-links">
        <a href="/purpose">
            <div> Purpose</div>
        </a>
    </div>
    <div class="navbar-links">
        <a href="/conclusion">
            <div>Conclusion</div>
        </a>
    </div>
    <div class="navbar-links">
        <a href="/discussion">
            <div>Discussion</div>
        </a>
    </div>
    <div class="navbar-links">
        <a href="related_app">
            <div>Related Application</div>
        </a>
    </div>
</div>